<div class="rectangle-block">
    <div class="logo-container">
      <img src="assets/brightpath_logo.png" alt="logo" class="logo-image">
    </div>

    <nav class="navigation">
      <button class="nav-button home" routerLink="/home">Home</button>
      <button class="nav-button solutions" routerLink="/academics">Academics</button>
      <button class="nav-button about" routerLink="/about-us">About Us</button>
      <button class="nav-button partners" routerLink="/admissions">Admissions</button>
      <button class="nav-button partners" routerLink="/contact-us">Contact Us</button>

    </nav>
</div>
